:root {                               /* from Coolors.com */
    --primary-color:    #6b2500;    /* Seal Brown */
    --secondary-color:  #ffd88a;    /* Jasmine */
    --accent-color:     #a70d1a;    /* Ruby Red */
    --text-color:       #463c37;    /* Dark Lava */
    --bkg-color:        #fffcf5;    /* Floral White */

    /* From Google Fonts - Copperplate Best Matches */
    --heading-font: 'Alegreya SC', serif;
    --body-text-font: 'Balthazar', serif;
}

body {
    margin: 1em;
    background-color: white;
    color: var(--text-color);
    font-family: var(--body-text-font);
    font-size: 1.3rem;
    line-height: 1.8rem;
}

h1 {
    font-family: var(--body-text-font);
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.0;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.25em;
    text-align: center;
} 

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 0;
    padding-bottom: 0;
}

h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

h4, h5, h6 {
    font-weight: 500;
}

p, ul, ol {
    margin-top: 0.3em;
}



a {
    text-decoration: none;
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}


#logo {
    max-width: 384px;
}


nav {
    margin: 0 auto;
    /* max-width: 768px; */
    text-align: center;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    border-top: 1px solid var(--primary-color);
}

nav ul li {
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    font-size: 1.0rem;    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

a.active, a.active:visited {
    background-color: var(--accent-color);
    color: var(--bkg-color);
}


.color-grid {
    display: grid;
    min-width: 360px;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
}

.color-title, .color-spec, .color-sample {
    margin: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.color-title {
    padding: 15px 0 0 20px;
    font-size: 0.9em;
    line-height: 1.2em;
}

.color-spec {
    font-family: 'Source Code Pro';
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: 600;
    padding: 10px 0 10px 10px;
}

.color-sample {
    padding: 0;
}

#primary-color {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

#secondary-color {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#accent-color {
    background-color: var(--primary-color);
    color: var(--bkg-color);
}

#text-color {
    background-color: var(--text-color);
    color: var(--bkg-color);
}

#background-color {
    background-color: var(--bkg-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.sample-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    height: fit-content;
    background-color: var(--bkg-color);
    padding: 24px;
    box-shadow: 5px 5px 10px #888;
}

footer {
    display: flex;
    margin: 2em auto;
    border-top: 1px solid var(--primary-color);
    padding-top: 1em;
}
