.mybox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
    width: 1000px;
    border: 2px solid blue;
    background: #ffbbbb;
    justify-items: center;
    align-items: center;

}

.thingholder {
    border: 2px dashed blue;
    background-color: #cccccc;
    /* width: fit-content; */
    /* height: fit-content; */
}