:root {                               /* from Coolors.com */
    --primary-color:    #561e00;    /* Seal Brown */
    --secondary-color:  #ffd88a;    /* Jasmine */
    --accent-color:     #a70d1a;    /* Ruby Red */
    --text-color:       #463c37;    /* Dark Lava */
    --bkg-color:        #fffcf5;    /* Floral White */

    /* From Google Fonts - Copperplate Best Matches */
    --heading-font: 'Alegreya SC', serif;
    --body-text-font: 'Balthazar', serif;
    --photo-caption: 'Special Elite', 'Times New Roman', serif;
}

html {
    margin: 0;
    padding: 0;
}

#alertBar {
    text-align: center;
    padding: 0.5em;
    background: var(--accent-color);
    color: var(--secondary-color);
    font-weight: bold;
    text-shadow: 0 0 6px black;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: var(--body-text-font);
    font-size: 1.3rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

header {
    margin: 0;
    padding: 5px 5px 20px 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 25px;
    align-items: center;
}

.identity {
    display: flex; 
    min-width: 240px;
    align-items: center;
    align-content: center;
    justify-items: start;
    flex-direction: row;
}

.header-logo {
    width: 70px;
    margin-right: 5px;
    padding: 5px;
}

.branding-text {
    margin: 0 0;
}

.branding-text h1 {
    font-family: var(--body-text-font);
    font-weight: 700;
    font-size: 0.9em;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding: 0;
    margin: 0;
} 

.subhead {
    margin: 0 0 0.8em 0;
    padding: 0;
    font-size: 0.6em;
    line-height: 0.9;
}

header a, header a:visited {
    color: var(--secondary-color);
}

nav a, nav a:visited {
    color: var(--accent-color);
}

.social {
    display: flex;
    flex-direction: row;
    justify-self: right;
    margin-right: 0.30em;
    min-width: 62px;
}

.social-icon {
    display: none;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
}

.social-icon img {
    width: 30px;
}

button {
    border-radius: 8px;
}

.menu-button {
    justify-self: end;
    font-size: 0.7em;
}

#hamburgerBtn span {
    width: fit-content;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.date {
    grid-column: 1/4;
    justify-self: center;
    text-align: center;
    line-height: 0.8em;
}

#daysSinceField {
    color: inherit;
}

blockquote {
    font-size: 0.80em;
    line-height: 1.1em;
    background-color: rgba(128,0,0,0.05);
    padding: 1em;
    margin: 0 1em;
}

nav {
    margin: 0 auto;
    text-align: right;
    background-color: var(--secondary-color);
}

nav ul {
    display: none;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    border-top: 1px solid var(--primary-color);
}

nav ul.open {
    display: block;
}

nav ul li {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 0;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    font-size: 1.0rem;    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent-color);
}

nav a.active, nav a.active:visited {
    background-color: var(--accent-color);
    color: var(--bkg-color);
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--bkg-color);
    text-decoration: none;
}


main {
    margin: 0.2em;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

h4, h5, h6 {
    font-weight: 500;
}

p, ul, ol {
    margin-top: 0.2em;
}

main p {
    font-size: 1.0rem;
    line-height: 1.1rem;
    text-align: left;
}

main ul, main li {
    font-size: 0.9em;
    line-height: 1.0em;
}

main li {
    margin-bottom: 0.4em;
}

nav ul {
    margin: 0;
}


#alertBar {
    display: none;
}


div#home {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "Hero" 
        "News"
        "Weat"
        "Evnt"
        "Spot"
        ;
}

div#discover {
    display: grid;
    margin: 1em 0.5em;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "News"
        "PictureGrid";
}


.discover-pictures {
    display: grid;
    grid-area: PictureGrid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 0em;
    margin: 1em 0;
    max-width: 100%;
}

.picture {
    border: 4vw solid white;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px grey;
    max-width: 100%;
    transition: box-shadow 0.5s;
}

.discover-pictures .picture img {
    width: 100%;
    filter: blur(0em);
}

.discover-pictures .picture img[data-src] {
    filter: blur(0.1em);
}

.caption {
    font-size: 0.5em;
    text-align: left;
    line-height: 1.3em;
    font-family: var(--photo-caption);
    color: var(--text-color);
}

.picture .caption a, .picture .caption a:visited {
    color: var(--text-color);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "Logo"
        "Addr"
        "Contact"
        "Owner"
        "Mod";
    justify-items: center;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 0.5em auto 0 auto;
    border-top: 1px solid var(--primary-color);
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.footer-logo {
    height: 6em;
}

footer a:hover {
    text-decoration: underline;
}

footer a, footer a:visited {
    color: var(--bkg-color);
    text-decoration: none;
}

.footer-separator {
    display: none;
}

.footer-separator, .footer-element {
    font-size: 0.9em;
}

#foot-logo {
    grid-area: Logo;
    
}   

#address {
    grid-area: Addr;
}

#contact-info {
    grid-area: Contact;
    margin: 0;
    padding: 0;
    line-height: 1.8em;
}

#ownership {
    grid-area: Owner;
    align-self: baseline;
}


#modification {
    grid-area: Mod;
    align-self: baseline;
    display: flex;
    flex-direction: row;
    font-size: 0.75em;

}


/********************************
        CONTENT ELEMENTS
********************************/


#hero {
    grid-area: Hero;
    position: relative;
    
}

.hero-img {
    display: block;
    overflow: clip;
}

.hero-img img {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: -0.4em;
}

.join-section {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
}

.join-button {
    display: inline-block;
    margin: 0.5em 0;
    padding: 5px 10px;
    border-radius: 1.2em;
    border: 1px solid #111;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px #222;
    color: var(--secondary-color);   
}

.join-button a, .join-button a:hover, .join-button a:visited  {
    color: var(--secondary-color);
}

#news {
    grid-area: News;
    padding: 0 20px 0 0;
}

#spotlights {
    grid-area: Spot;
}

.spotlight {
    display: block;
    margin: 1.5em 0.5em;
}

.spot-logo {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    max-width: 80%;
}

.spot-contact {
    font-size: 0.8em;
    line-height: 1em;
}

.attributions {
    font-size: 0.5em;
}

#join {
    grid-area: Join;
    display: none;
}

#event {
    grid-area: Evnt;
}

.text-ccw {
    display: inline-block;
    transform: rotate(-90deg);
    margin: 0;
}

#weather {
    grid-area: Weat;
}

#weatherIcon {
    /* border-top: 1px solid var(--accent-color); */
    border-bottom: 1px solid var(--accent-color);
}

#weatherCondition {
    text-transform: capitalize;
}

.weather-table {
    width: fit-content;
    display: grid;
    column-gap: 0.25em;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--accent-color);
    font-size: 0.8em;
    justify-self: center;
    margin: 0 auto;
}

.weather-th {
    text-align: right;
}

.weather-td {
    text-align: left;

}

.section-box {
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.placeholder {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--bkg-color);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}


/* ------------- FORMS -------------------- */

.joinHead {
    text-align: center;
}

.joinMain {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "form"
        "nonprofit"
        "bronze-level"
        "silver-level"
        "gold-level";
    max-width: 100%;
}


#joinform {
    grid-area: form;
}

form {
    display: block;
    box-sizing: border-box;
    margin: 0em auto;
    max-width: 25rem;
    border: 1px solid var(--primary-color);
    padding: 1rem;
}

fieldset {
    padding: 0px;
}

textarea {
    display: block;
    box-sizing: border-box;
    border: 3px dotted var(--primary-color);
    padding: 10px;
    margin: 0;

    font-family: var(--photo-caption);
    font-size: 0.7em;   
}

textarea:focus-visible {
    outline: 3px solid var(--accent-color);
}

form label {
    /* font-family: var(--photo-caption); */
    font-size: 1rem;
    font-weight: bold;
}

form label.top {
    display: block;
    margin-top: 2rem;
    color: var(--primary-color)
}

form label.top:nth-child(2) {
    margin-top: 0.5em;
}

form label.top input[type="text"], 
form label.top input[type="tel"],
form label.top input[type="email"] {
    
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 44px;
    padding: 0 10px;

    font-family: var(--photo-caption);
    font-size: 0.9rem;
    
    border: none;
    border-bottom: 2px dashed var(--primary-color);
    background-color: transparent;
    color: #333;
}


form label.top input:focus-visible {
    outline: none;
    background-color: var(--secondary-color);
    color: black;
    /* box-shadow: 0 0 20px; */
    /* border: none; */
}


form label.sbs input {
    accent-color: var(--accent-color);   
}


fieldset {
    border: none;
    line-height: 1em;
}

fieldset legend {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 1em;

    text-align: center;
    font-weight: bold;

    color: var(--secondary-color);
    background-color: var(--accent-color);
}

fieldset:first-child legend {
    margin-top: 0;
}

fieldset.submit {
    text-align: center;
}
.submitButton {
    margin: 1rem auto;
    padding: 0.5em 0.8em;
    
    background-color: var(--secondary-color);
    color: black;
        
    font-size: 0.7em;
    font-weight: bold;

    box-shadow: 5px 5px 10px #00000088;
    border: 1px solid var(--accent-color);
    border-radius: 1em;
}

.hidden {
    display: none;
}

.submitButton:hover {
    background-color: var(--bkg-color);
    cursor: pointer;
}

.submitButton:focus-visible {
    outline: 3px solid var(--accent-color);
}

.submitButton:active {
    box-shadow: 0px 0px 10px #00000088;
}

form label.sbs {
    display: block;
    padding: 0.50rem;
    color: #555;
}


form label.sbs input[type="radio"] {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}

.join-description {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
}

#nonprofit {
    grid-area: nonprofit;
    border: 20px solid rgba(144,238,144,0.5);
    background-color: rgba(144,238,144,0.3);
}

#bronze-level {
    grid-area: bronze-level;
    border: 20px solid  rgb(205,127,50,0.5);
    background-color: rgba(205,127,50,0.3);
}

#silver-level {
    grid-area: silver-level;
    border: 20px solid  rgb(192,192,192,0.5);
    background-color: rgba(192,192,192,0.3);
}

#gold-level {
    grid-area: gold-level;
    border: 20px solid rgb(255,200,0,0.5);
    background-color: rgba(255,200,0,0.3);
}




/**********************************************************
*
* Definitions intended specifically for the Directory Page 
* 
***********************************************************/

#directory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#directory article h3 {
    display: none;
}

.dir-menu {
    display: block;
	margin: 0.5rem 0;
	padding: 0.5rem;
	text-align: center;
    grid-area: dirmenu;
}

.dir-menu button {
	padding: 0.5rem;
	font-weight: 700;
}



#directory article {
    margin: 0;
}
#directory section {
	margin: 0.5rem;
}

#directory section {
    border: 1px solid #000;
	padding: 1rem;
	background-color: var(--bkg-color);
    text-align: center;
    
}

#directory h4 {
    font-size: 0.8em;
    line-height: 1em;
}

#directory p {
    text-align: center;
    font-size: 0.8rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 0.5rem;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
}

#directory .list section:nth-child(even) {
	background-color: white;
}

#directory .list section:nth-child(odd) {
    background-color: rgba(255, 216, 138, 0.2);

}

section h3 {
	font-size: 1.5rem;
}

section a {
    	font-size: 0.9rem;
}

#directory img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}












/* All of the above accounts for super small mobile screens.
I suspect that most mobile devices will apply the following rules, but
this is just to be safe as the layout gets pretty crammed in smaller screens.
*/
@media only screen and (min-width: 380px) {

    .social-icon {
        display: block;
        margin: auto 0.15em;
    }

    .social-menu {
        display: none;
    }

    header {
        grid-template-columns: 3fr 1fr 25px;
    }
    
}


/* This seems to apply only to the directory page for now. */
@media only screen and (min-width: 500px) {

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }
    
}

