:root {                               /* from Coolors.com */
    --primary-color:    #561e00;    /* Seal Brown */
    --secondary-color:  #ffd88a;    /* Jasmine */
    --accent-color:     #a70d1a;    /* Ruby Red */
    --text-color:       #463c37;    /* Dark Lava */
    --bkg-color:        #fffcf5;    /* Floral White */

    /* From Google Fonts - Copperplate Best Matches */
    --heading-font: 'Alegreya SC', serif;
    --body-text-font: 'Balthazar', serif;
}

html {
    margin: 0;
    padding: 0;
}

#alertBar {
    text-align: center;
    padding: 0.5em;
    background: var(--accent-color);
    color: var(--secondary-color);
    font-weight: bold;
    text-shadow: 0 0 6px black;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bkg-color);
    color: var(--text-color);
    font-family: var(--body-text-font);
    font-size: 1.3rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

header {
    margin: 0;
    padding: 5px 5px 20px 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 25px;
    align-items: center;
}

.identity {
    display: flex; 
    min-width: 240px;
    align-items: center;
    align-content: center;
    justify-items: start;
    flex-direction: row;
}

.header-logo {
    width: 70px;
    margin-right: 5px;
    padding: 5px;
}

.branding-text {
    margin: 0 0;
}

.branding-text h1 {
    font-family: var(--body-text-font);
    font-weight: 700;
    font-size: 0.9em;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding: 0;
    margin: 0;
} 

.subhead {
    margin: 0 0 0.8em 0;
    padding: 0;
    font-size: 0.6em;
    line-height: 0.9;
}

header a, header a:visited {
    color: var(--secondary-color);
}

nav a, nav a:visited {
    color: var(--accent-color);
}

.social {
    display: flex;
    flex-direction: row;
    justify-self: right;
    margin-right: 0.30em;
    min-width: 62px;
}

.social-icon {
    display: none;
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
}

.social-icon img {
    width: 30px;
}

button {
    border-radius: 8px;
}

.menu-button {
    justify-self: end;
    font-size: 0.7em;
}

#hamburgerBtn span {
    width: fit-content;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.date {
    grid-column: 1/4;
    justify-self: center;
}


nav {
    margin: 0 auto;
    text-align: right;
    background-color: var(--secondary-color);
}

nav ul {
    display: none;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    border-top: 1px solid var(--primary-color);
}

nav ul.open {
    display: block;
}

nav ul li {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 0;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    font-size: 1.0rem;    
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent-color);
}

nav a.active, nav a.active:visited {
    background-color: var(--accent-color);
    color: var(--bkg-color);
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--bkg-color);
    text-decoration: none;
}


main {
    margin: 0.2em;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

h4, h5, h6 {
    font-weight: 500;
}

main p {
    font-size: 1.1rem;
    line-height: 1.2rem;
}

p, ul, ol {
    margin-top: 0.2em;
}

main li {
    margin-bottom: 0.4em;
}

nav ul {
    margin: 0;
}


#alertBar {
    display: none;
}


main {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "Hero" 
        "News"
        "Weat"
        "Evnt"
        "Spot"
        ;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "Logo"
        "Addr"
        "Contact"
        "Owner"
        "Mod";
    justify-items: center;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 0.5em auto 0 auto;
    border-top: 1px solid var(--primary-color);
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.footer-logo {
    height: 6em;
}

footer a:hover {
    text-decoration: underline;
}

footer a, footer a:visited {
    color: var(--bkg-color);
    text-decoration: none;
}

.footer-separator {
    display: none;
}

.footer-separator, .footer-element {
    font-size: 0.9em;
}

#foot-logo {
    grid-area: Logo;
    
}   

#address {
    grid-area: Addr;
}

#contact-info {
    grid-area: Contact;
    margin: 0;
    padding: 0;
    line-height: 1.8em;
}

#ownership {
    grid-area: Owner;
    align-self: baseline;
}


#modification {
    grid-area: Mod;
    align-self: baseline;
    display: flex;
    flex-direction: row;
    font-size: 0.75em;

}




/********************************
        CONTENT ELEMENTS
********************************/


#hero {
    grid-area: Hero;
    position: relative;
    
}

.hero-img {
    overflow: clip;
}

.hero-img img {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: -0.4em;
}

.join-section {
    position: absolute;
    left: 3.5vw;
    top: 3.5vw;
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
}

.join-button {
    display: inline-block;
    margin-top: 0.5em;
    padding: 5px 10px;
    border-radius: 1.2em;
    border: 1px solid #111;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px #222;
    color: var(--secondary-color);   
}

.join-button a, .join-button a:hover {
    color: var(--secondary-color);
}

#news {
    grid-area: News;
}

#spotlights {
    grid-area: Spot;
}

.spotlight {
    display: block;
    margin: 1.5em 0.5em;
}

.spot-logo {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    max-width: 80%;
}

.spot-contact {
    font-size: 0.8em;
    line-height: 1em;
}

.attributions {
    font-size: 0.5em;
}

#join {
    grid-area: Join;
    display: none;
}

#event {
    grid-area: Evnt;
}

.text-ccw {
    display: inline-block;
    transform: rotate(-90deg);
    margin: 0;
}

#weather {
    grid-area: Weat;
}

.weather-table {
    width: fit-content;
    display: grid;
    column-gap: 0.25em;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid var(--accent-color);
    font-size: 0.8em;
    justify-self: center;
    margin: 0 auto;

}

.weather-th {
    text-align: right;
}

.weather-td {
    text-align: left;

}

.section-box {
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.placeholder {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--bkg-color);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}



/* Super small screens accounted for. 
Now make minor adjustments for larger cell-phone screens like Galaxy 10+ and above, etc.*/
@media only screen and (min-width: 380px) {

    .social-icon {
        display: block;
        margin: auto 0.15em;
    }

    .social-menu {
        display: none;
    }

    header {
        grid-template-columns: 3fr 1fr 25px;
    }
    
}