@media only screen and (min-width: 1024px) {

    header {
        grid-template-columns: 1fr 2fr 6em;
        grid-template-areas:
            "identity identity social"
    }

    .identity {
        grid-column: 1/3;
        margin: 0.5em 0 0 0.5em;
    }

    .branding-text h1 {
        font-size: 2em;
    }

    #menu {
        grid-area: nav-menu;
    }

    .menu-button {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin: 0 auto;
        border: 0;
    }

    nav ul li a {
        padding: 0.5em;
    }
    .social {
        grid-area: social;
        align-self: flex-end;
        justify-self: right;
    }

    .social-icon {
        margin: auto 0.25em; 
    }
    
    
    main {
        margin: 1em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "Evnt Hero Hero Spot"
            "Weat Hero Hero Spot"
            "Join News News Spot";
    }

    .spotlight {
        min-height: 250px;
    }

    footer {
        grid-template-columns: 1fr 6em 2fr 1fr 1fr;
        grid-template-areas: 
            ". Logo  Addr  Contact ."
            "Owner Owner Owner Owner Owner"
            "Mod   Mod   Mod   Mod   Mod";
    }

    #address {
        text-align: left;
    }
}



@media only screen and (min-width: 1420px) {

    footer p {
        font-size: 1.3em;
        line-height: 1.3em;
    }

    .branding-text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .subhead {
        font-size: 2.5em;
        margin: 0 0 0 0.3em;
    }

    .branding-text h1 {
        font-size: 2.5em;
    }
    
}