@media only screen and (min-width: 800px) {
    
    header {
        padding: 5px 15px 20px 15px;
        grid-template-columns: 3fr 1fr 50px;
    }

    .header-logo {
        width: auto;
        height: 140px;
        margin-right: 20px;
    }

    .branding-text h1 {
        font-size: 1.6em;
    }    

    .subhead {
        font-size: 1.0em;
    }

    .social {
        justify-self: right;
        align-self: flex-start;
        margin-top: 0.5em;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        margin: auto 0.1em;
    }

    .menu-button {
        font-size: 0.9em;
        line-height: 1.0em;
        align-self: flex-start;
        margin-top: 0.5em;
    }

    button {
        border-radius: 10px;
    }

    nav ul li a {
        font-size: 1.1em;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "Hero  Hero  Hero"
            "News  News  News"
            "Spot  Spot  Spot"
            "Join  Join  Join"
            "Evnt  Evnt  Weat";
        grid-gap: 0.5em;
        margin-left:0.5em;
        margin-right:0.5em;
    }
    
    p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    #join {   
        display: block;
    }
    
    footer {
        grid-template-columns: 7em 1fr 1fr;
        grid-template-areas: 
            "Logo  Addr  Contact"
            "Owner Owner Owner"
            "Mod   Mod   Mod";
        align-items: center;

    }

    footer p {
        line-height: 1.6em;
        font-size: 1.0em;
        
    }

    .footer-separator {
        display: inline-block;
        margin: auto 1em;
    }

    #foot-logo {
        margin-right: 2em;
    }

    #address {
        justify-self: left;
        text-align: left;
    }

    #ownership {
        display: flex;
        flex-direction: row;
        margin-top: 1.5em;
    }

    #modification {
        font-size: 1.0em;
    }
    

    .join-section {
        /* left: 5vw;
        top: 5vw; */
        font-size: 1.2em;
        line-height: 1.2em;
    }

    .join-button {
        padding: 10px 20px;
        
    }


}